.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/skills/CopilotIndices/17.14.1561.44479/CodeChunks.db
.vs/skills/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
.vs/skills/FileContentIndex/34a1f060-c708-453f-b4a6-b31a79a433dd.vsidx
.vs/skills/v17/.wsuo
.vs/skills/v17/DocumentLayout.backup.json
.vs/skills/v17/DocumentLayout.json
